@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,500,700&display=swap');

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

body,
p {
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 27px;
	color: #3e4348;
}

h1 {
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	font-size: 34px;
	line-height: 50px;
}
h2 {
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	font-size: 26px;
	/* line-height: 40px; */
	color: #0c4e7e;
}
h3 {
	font-family: Lato, sans-serif;
	font-weight: 400;
	font-size: 20px;
	/* line-height: 32px; */
	word-spacing: 0px;
	letter-spacing: 0px;
}
